In [54]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/栗寻/Desktop/RPI/6100 Foundation of DS/assignments/presentation/bank marketing/bank-additional-full.csv', sep=';')

In [5]:
df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [23]:
len(df)

41188

In [65]:
df['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [49]:
P_0 = round(len(df.loc[(df['y']=='no')])/len(df),4)
P_1 = round(len(df.loc[(df['y']=='yes')])/len(df),4)
print('P(fail):', P_0)
print('P(Success):', P_1)

P(fail): 0.8873
P(Success): 0.1127

In [7]:
df['marital'].value_counts()

married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

In [62]:
# marginal probability and joint probability regarding marital status

m_0 = len(df.loc[(df['y']=='no') & (df['marital']=='married')])
m_1 = len(df.loc[(df['y']=='yes') & (df['marital']=='married')])
P_m_0 = m_0/len(df)
P_m_1 = m_1/len(df)
P_m = (m_0+m_1)/len(df)
print("P(Married and fail):", round(P_m_0,4))
print("P(Married and success):", round(P_m_1,4))
print("P(Married):", round(P_m, 4))
print('-----')

s_0 = len(df.loc[(df['y']=='no') & (df['marital']=='single')])
s_1 = len(df.loc[(df['y']=='yes') & (df['marital']=='single')])
P_s_0 = s_0/len(df)
P_s_1 = s_1/len(df)
P_s = (s_0+s_1)/len(df)
print("P(Single and fail):", round(P_s_0,4))
print("P(Single and success):", round(P_s_1,4))
print("P(Single):", round(P_s, 4))
print('-----')

d_0 = len(df.loc[(df['y']=='no') & (df['marital']=='divorced')])
d_1 = len(df.loc[(df['y']=='yes') & (df['marital']=='divorced')])
P_d_0 = d_0/len(df)
P_d_1 = d_1/len(df)
P_d = (d_0+d_1)/len(df)
print("P(Divorced and fail):", round(P_d_0,4))
print("P(Divorced and success):", round(P_d_1,4))
print("P(Divorced):", round(P_d, 4))
print('-----')

u_0 = len(df.loc[(df['y']=='no') & (df['marital']=='unknown')])
u_1 = len(df.loc[(df['y']=='yes') & (df['marital']=='unknown')])
P_u_0 = u_0/len(df)
P_u_1 = u_1/len(df)
P_u = (u_0+u_1)/len(df)
print("P(Unknown and fail):", round(P_u_0,4))
print("P(Unknown and success):", round(P_u_1,4))
print("P(Unknown):", round(P_u, 4))

P(Married and fail): 0.5438
P(Married and success): 0.0615
P(Married): 0.6052
-----
P(Single and fail): 0.2415
P(Single and success): 0.0393
P(Single): 0.2809
-----
P(Divorced and fail): 0.1004
P(Divorced and success): 0.0116
P(Divorced): 0.112
-----
P(Unknown and fail): 0.0017
P(Unknown and success): 0.0003
P(Unknown): 0.0019

In [58]:
# use Bayes theorem, solve for posterior probabilities

P_1_gm = P_m_1/P_m
P_0_gm = P_m_0/P_m
print("P(success|married):",round(P_1_gm,4))
print("P(fail|married):",round(P_0_gm,4))
print('-----')

P_1_gs = P_s_1/P_s
P_0_gs = P_s_0/P_s
print("P(success|single):",round(P_1_gs,4))
print("P(fail|single):",round(P_0_gs,4))
print('-----')

P_1_gd = P_d_1/P_d
P_0_gd = P_d_0/P_d
print("P(success|divorced):",round(P_1_gd,4))
print("P(fail|divorced):",round(P_0_gd,4))

P(success|married): 0.1016
P(fail|married): 0.8984
-----
P(success|single): 0.14
P(fail|single): 0.86
-----
P(success|divorced): 0.1032
P(fail|divorced): 0.8968

In [8]:
df['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [50]:
# marginal probability and joint probability regarding personal loan

ly_0 = len(df.loc[(df['y']=='no') & (df['loan']=='yes')])
ly_1 = len(df.loc[(df['y']=='yes') & (df['loan']=='yes')])
P_ly_0 = ly_0/len(df)
P_ly_1 = ly_1/len(df)
P_ly = (ly_0+ly_1)/len(df)
print("P(have personal loan and fail):", round(P_ly_0,4))
print("P(have personal loan and success):", round(P_ly_1,4))
print("P(have personal loan):", round(P_ly, 4))
print('-----')

ln_0 = len(df.loc[(df['y']=='no') & (df['loan']=='no')])
ln_1 = len(df.loc[(df['y']=='yes') & (df['loan']=='no')])
P_ln_0 = ln_0/len(df)
P_ln_1 = ln_1/len(df)
P_ln = (ln_0+ln_1)/len(df)
print("P(don't have personal loan and fail):", round(P_ln_0,4))
print("P(don't have personal loan and success):", round(P_ln_1,4))
print("P(don't have personal loan):", round(P_ln, 4))
print('-----')

lu_0 = len(df.loc[(df['y']=='no') & (df['loan']=='unknown')])
lu_1 = len(df.loc[(df['y']=='yes') & (df['loan']=='unknown')])
P_lu_0 = lu_0/len(df)
P_lu_1 = lu_1/len(df)
P_lu = (lu_0+lu_1)/len(df)
print("P(loan unknown and fail):", round(P_lu_0,4))
print("P(loan unknown and success):", round(P_lu_1,4))
print("P(loan unknown):", round(P_lu, 4))

P(have personal loan and fail): 0.1351
P(have personal loan and success): 0.0166
P(have personal loan): 0.1517
-----
P(don't have personal loan and fail): 0.7308
P(don't have personal loan and success): 0.0935
P(don't have personal loan): 0.8243
-----
P(loan unknown and fail): 0.0214
P(loan unknown and success): 0.0026
P(loan unknown): 0.024

In [60]:
# use Bayes theorem, solve for posterior probabilities


P_1_gly = P_ly_1/P_ly
P_0_gly = P_ly_0/P_ly
print("P(success|have personal loan):",round(P_1_gly,4))
print("P(fail|have personal loan):",round(P_0_gly,4))
print('-----')

P_1_gln = P_ln_1/P_ln
P_0_gln = P_ln_0/P_ln
print("P(success|have personal loan):",round(P_1_gln,4))
print("P(fail|have personal loan):",round(P_0_gln,4))
print('-----')

P_1_glu = P_lu_1/P_lu
P_0_glu = P_lu_0/P_lu
print("P(success|loan unknown):",round(P_1_glu,4))
print("P(fail|loan unknown):",round(P_0_glu,4))

P(success|have personal loan): 0.1093
P(fail|have personal loan): 0.8907
-----
P(success|have personal loan): 0.1134
P(fail|have personal loan): 0.8866
-----
P(success|loan unknown): 0.1081
P(fail|loan unknown): 0.8919

In [9]:
df['contact'].value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [53]:
# marginal probability and joint probability regarding contact methods

c_0 = len(df.loc[(df['y']=='no') & (df['contact']=='cellular')])
c_1 = len(df.loc[(df['y']=='yes') & (df['contact']=='cellular')])
P_c_0 = c_0/len(df)
P_c_1 = c_1/len(df)
P_c = (c_0+c_1)/len(df)
print("P(contacted via cell and fail):", round(P_c_0,4))
print("P(contacted via cell and success):", round(P_c_1,4))
print("P(contacted via cell):", round(P_c, 4))
print('-----')

t_0 = len(df.loc[(df['y']=='no') & (df['contact']=='telephone')])
t_1 = len(df.loc[(df['y']=='yes') & (df['contact']=='telephone')])
P_t_0 = t_0/len(df)
P_t_1 = t_1/len(df)
P_t = (t_0+t_1)/len(df)
print("P(contacted via telephone and fail):", round(P_t_0,4))
print("P(contacted via telephone and success):", round(P_t_1,4))
print("P(contacted via telephone):", round(P_t, 4))

P(contacted via cell and fail): 0.5412
P(contacted via cell and success): 0.0935
P(contacted via cell): 0.6347
-----
P(contacted via telephone and fail): 0.3461
P(contacted via telephone and success): 0.0191
P(contacted via telephone): 0.3653

In [61]:
# use Bayes theorem, solve for posterior probabilities

P_1_gc = P_c_1/P_c
P_0_gc = P_c_0/P_c
print("P(success|contacted via cell):",round(P_1_gc,4))
print("P(fail|contacted via cell):",round(P_0_gc,4))
print('-----')

P_1_gt = P_t_1/P_t
P_0_gt = P_t_0/P_t
print("P(success|contacted via telephone):",round(P_1_gt,4))
print("P(fail|contacted via telephone):",round(P_0_gt,4))

P(success|contacted via cell): 0.1474
P(fail|contacted via cell): 0.8526
-----
P(success|contacted via telephone): 0.0523
P(fail|contacted via telephone): 0.9477